<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css">
    <title>To Do List!!</title>
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= dayofweek %> !</h1>
    </div>

<div class="box">

    <%for(var i=0;i<newitems.length ; i++){ %>
  <div class="item">

  <input type="checkbox">
  <p><%=newitems[i]%></p>

  </div>
    <% } %>


    <form class="item" action="/" method="post">
      <input type="text" name = 'todo' placeholder="Add item" autocomplete = 'off'>
      <button class="btn" type="submit" name='button'>+</button>
    </form>

</div>

<form class="" action="/clear" method="post">
<button id="heading" class="clr" type="submit" name="button">Clear List</button>
</form>







  </body>
</html>
